# Основные настройки Telegram бота
BOT_TOKEN = ваш_api_telegram # Токен вашего бота от BotFather
PAYMENT_PROVIDER_TOKEN = ваш_api_telegram_payments # Токен для приема платежей в Telegram

# Администраторские учетные данные
ADMIN_USERNAME = ваш_username_админа
ADMIN_PASSWORD = ваш_password_админа

# API ключи для внешних сервисов
OPENWEATHERMAP_API_KEY = ваш_api_openweathermap # Ключ для сервиса прогноза погоды
WEATHERAPI_API_KEY = ваш_api_weatherapi # Альтернативный ключ API погоды
LOCATIONIQ_API_KEY = ваш_api_locationiq # Ключ для геолокации

# Настройки Paymaster для обработки платежей
PAYMASTER_MERCHANT_ID = ваш_id_paymaster # ID мерчанта в системе Paymaster
PAYMASTER_SECRET_KEY = ваш_key_paymaster # Секретный ключ для API Paymaster
PAYMASTER_TOKEN = ваш_api_paymaster # Токен доступа к API Paymaster

# Ссылки и идентификаторы
REFERRAL_BOT_URL = ваш_url_telegram_bot # URL для реферальной программы
SUBSCRIBE_CHANNEL_URL = ваш_url_telegram_chanale # Канал для обязательной подписки
CHANNEL_CHAT_ID = ваш_id_telegram_chanale # ID чата/канала в числовом формате