__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
downloads/
eggs/
.eggs/
sdist/
wheelhouse/
*.egg-info/
*.egg
pip-wheel-metadata/
share/python-wheels/

*.log
logs/
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/
.hypothesis/
.tox/
.nox/
.pyright/
dmypy.json
.pyre/

.ipynb_checkpoints/

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.vscode/
.idea/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

.env
.env.*
*.pem
*.key

.cache/
*.tmp
*.temp

*.sqlite
*.db
*.db-journal

data/**/*
!data/**/.gitkeep

backups/**/*.zip
backups/**/*.tar*
backups/**/*.gz

tmp/
temp/